/* Main */
a {
  text-decoration: none;
}

.body {
  background-attachment: fixed;
  background-color: #cccccc;
  background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80"); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Satisfy', cursive;
  margin: 6px;
  padding: 12px;
}



/*Home page */

.h1-text {
  color: white;
  font-size: 9vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.h2-text {
  color: white;
  font-size: 13vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.h3-text {
  color: white;
  font-size: 6vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.background-text {
  color: white;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

 /* navigation */
.button {
  background-color: white;
  border-color: black;
  border-radius: 6px;
  border-width: 1px;
  color: black;
  font-size: 24px;
  padding: 6px 12px;
}

.button:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.button:focus {
  background: gray;
}

.nav-buttons {
  margin: 48px;
}

/*About Page*/

.h1-about-text {
  color: white;
  font-size: 10vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  margin: 2vh
}

.text-box {
  background-color: #ffffff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  margin: 1vh;
  opacity: 0.6;
  padding: 1vh;
}

.about-image {
  border: 2px solid black;
  margin: 6px;
}

/*Contact Page*/

.contact-icons {
  align-content: flex-end;
  display: absolute;
  justify-content: center;
}

.h1-contact-text {
  color: white;
  font-size: 12vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.linkedin-logo {
  height: 11vh;
  width: 11vh;
  padding: 2vh;
}

.twitter-logo {
  height: 11vh;
  width: 11vh;
  padding: 2vh;
}

.mail-logo {
  height: 11vh;
  width: 11vh;
  padding: 2vh;
}

/*Portfolio page*/
.github-image {
  border: 2px solid black;
  height: 14vh;
  margin: 2vh;
  width: 14vh;
}

.h1-portfolio-text {
  color: white;
  font-size: 10vh;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.image {
  border: 2px solid black;
  height: 14vh;
  margin: 2vh;
  width: 14vh;

}

@media (max-width: 768px) {
  .h1-about-text {
    position: absolute;
    
  }
}