.button {
    background-color: lavender;
    border-radius: 6px;
    color: rgb(104, 104, 104);
    padding: 6px 12px;
  }
  .button:hover {
    background-color: mediumturquoise;
  }
  
  .button:focus {
    background: palegreen;
  }